.dockerignore
.editorconfig
.git
.gitattributes
.github
.gitignore
.husky
.node-version
.pnpm-store
.prettierignore
.prettierrc
.vscode
CODE_OF_CONDUCT.md
CONTRIBUTING.md
Dockerfile
docker-compose.yaml
gh-pages
LICENSE
mkdocs.yml
mkdocs_requirements.txt
README.md
renovate.json
SECURITY.md
**/.env
**/.env.example
**/.env.test
**/.scannerwork
**/.tmp
**/.turbo
**/.vite
**/build
**/coverage
**/dist
**/drizzle.config.ts
**/eslint.config.mjs
**/node_modules
**/npm-debug.log
**/playwright.*
**/playwright-report
**/tests
**/test-results
**/vitest.*
