.dockerignore
.editorconfig
.git
.gitattributes
.github
.gitignore
.husky
.node-version
.pnpm-store
.oxfmtrc.json
.vscode
.zed
CODE_OF_CONDUCT.md
CONTRIBUTING.md
Dockerfile
docker-compose.yaml
gh-pages
LICENSE
mkdocs.yml
mkdocs_requirements.txt
README.md
release.config.mjs
renovate.json
SECURITY.md
**/.env
**/.env.example
**/.env.test
**/.oxlintrc.json
**/.scannerwork
**/.tmp
**/.turbo
**/.vite
**/build
**/coverage
**/dist
**/drizzle.config.ts
**/node_modules
**/npm-debug.log
**/playwright.*
**/playwright-report
**/tests
**/test-results
**/vitest.*
