.dockerignore
.env
.github
.gitignore
.pnpm-store
.vscode
.tmp
Dockerfile.*
**/coverage
**/helmchart
**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/.editorconfig
**/.aws
**/dist
**/build
**/sonar-project.properties